Package            Version
------------------ ---------
astroid            2.11.7
certifi            2023.7.22
charset-normalizer 2.0.12
dill               0.3.4
idna               3.4
importlib-metadata 4.8.3
isort              5.10.1
lazy-object-proxy  1.7.1
mccabe             0.7.0
packaging          21.3
pbr                6.0.0
pip                21.3.1
platformdirs       2.4.0
pylint             2.13.9
pyparsing          3.0.9
requests           2.27.1
setuptools         39.2.0
setuptools-scm     6.4.2
stevedore          3.5.2
tomli              1.2.3
typed-ast          1.5.5
typing_extensions  4.1.1
urllib3            1.26.17
virtualenv         15.1.0
virtualenv-clone   0.5.7
virtualenvwrapper  4.8.4
wheel              0.37.1
wrapt              1.16.0
xkcdpass           1.19.3
zipp               3.6.0
